footer {
	clear: both;
	background: $orange;
	display: flex;
	color: $white;
	flex-wrap: wrap;
}

.contact,
.instagram,
.map {
	padding: 25px 35px;
	width: 33.33%;
	@media all and (max-width: 1024px) {
		width: 50%;
	}
	@media all and (max-width: 775px) {
		width: 100%;
	}
}

.map {
	background: url('http://maps.googleapis.com/maps/api/staticmap?center=43.655113,+-79.403380&zoom=15&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7C%7C43.655113,+-79.403380');
	background-size: cover;
	background-position: center;
	@media all and (max-width: 1024px) {
		width: 100%;
		height: 300px;
		order: 1;
	}
}

ul.social {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		font-size: 2.5em;
		padding: 0;
		margin-right: 10px;
	}
	a {
		color: $white;
		&:hover,
		&:focus {
			color: $black;
		}
	}
}