
.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@media all and (max-width: 1024px){
		justify-content: center;
		text-align: center;
	}

}

.fa.fa-bars,
.fa.fa-times {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 25px;
	display: none;
}

.fa.fa-bars {
	@media all and (max-width: 600px) {
		display: block;
	}
}

.fa.fa-times {
	z-index: 9999;
}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		@media all and (max-width: 600px) {
			display: block;
			padding: 10px;

		}
		&:hover {
			ul.sub-menu {
				display: block;
			}
		}
		a {
			color: $black;
			padding: 10px;
			&:hover {
				color: $blue;
			}
			@media all and (max-width: 600px) {
				color: $white;
			}
		}
	}
	@media all and (max-width: 600px) {
		top: 0;
		left: 100%;
		bottom: 0;
		right: 0;
		background: orange;
		position: fixed;
		z-index: 999;
		padding: 25px;
		text-align: left;
		transition: all 0.5s ease;
	}

}



ul.sub-menu {
	position: absolute;
	left: -32.5px;
	padding: 5px;
	margin-top: 10px;
	border-top: 3px solid $orange;
	background: white;
	text-align: center;
	width: 150px;
	display: none;
	@media all and (max-width: 600px) {
		display: block;
		position: static;
		background: transparent;
		border: none;
		border-left: 3px solid $black;
		text-align: left;
		padding: 0;
		margin-left: 10px;
		z-index: 99999;
	}
	li {
		padding: 0;
		margin: 10px 5px;
	}
}