
.main-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	@media all and (max-width: 1024px){
		-webkit-justify-content: center;
		justify-content: center;
	}
}

ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		position: relative;
		&:hover {
			ul.sub-menu {
				display: block;
			}
		}
		a {
			color: $black;
			padding: 10px;
			&:hover {
				color: $blue;
			}
		}
	}
}

ul.sub-menu {
	position: absolute;
	left: -27%;
	padding: 5px;
	margin-top: 10px;
	border-top: 3px solid $orange;
	background: white;
	text-align: center;
	display: none;
	li {
		padding: 0;
		margin: 10px 5px;
	}
}